<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--> <!-- LAB: add ng-app here -->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--> <!-- LAB: add ng-app here -->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--> <!-- LAB: add ng-app here -->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]--> <!-- LAB: add ng-app here -->
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link href="bower_components/kendo-ui/styles/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/kendo-ui/styles/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="bower_components/kendo-ui/styles/kendo.default.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/app.css">

  </head>
  
  <body>
    <div class="container">
        <div class="header">

          <h3 class="text-muted">the pizza place</h3>
      </div>

        <section id="main">
          
          <!-- 
            LAB: Create contact form here

            1. Create inputs for name, email and assign to the root scope
            2. Create select box containg types of emails and assign to root scope
            3. Create a textarea and assign to root scope
            4. Display all of the model data to see 2 way binding is working

          -->


        </section>
    </div>

    <footer class="navbar footer navbar-fixed-bottom">
        <p>&copy; 2014 the pizza place</p>
    </footer>

    <!-- Third party scripts -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.core.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.ui.core.min.js"></script>
    <script src="bower_components/kendo-ui/js/kendo.datetimepicker.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>

    <!-- App scripts -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
</body>
</html>
