<div class="jumbotron">
    <h1>Ciao a tutti!</h1>

    <p class="lead">
        The best Pizza in town!
    </p>

    <p><a class="btn btn-lg btn-danger" ng-href="#/menu">See Our Menu! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
    <h4>The Pizza Place difference</h4>

    <p>
        Our authentic italian pizza recipe is nothing like you've ever had before! Our recipe is passed down from
        Italian chef Guissepo Martini for 3 generations.
    </p>

    <h4>Family Owned</h4>

    <p>
        We are 100% family owned and operated. Our goal is to serve you as family.
    </p>

    <h4>Order Online</h4>

    <p>
        Using state of the art online ordering, place an order and get updates on it being cooked! When it's ready, we'll let you
        know it's ready to be picked up, or on it's way to you.
    </p>
</div>